<header>
  <nav class="navbar navbar-expand-lg naber-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Baby Communication</span></a>
      <button class="navbar-toggler" type="button" date-toggle="collapse" data-target="#navbarnavDropdown"></button>
      <div class="row">
        
      </div>
    </div>
  </nav>
    
</header>
